html,body, #mapContainer {
  font-family:sans-serif;
  background:#fff;
  color:#444;
  height:100%;
  padding:0;
  margin:0;
}

header {
    position:absolute;
    top:0;
    left:20px;
    height:75px;
    margin:5px;
    z-index:3;
}

header h1 {
    float:left;
}

#controls {
    float:left;
    margin:20px;
}

#controls button {
    font-size:20px;
    padding:5px;
}

#mapContainer {
    width:auto;
    height:100%;
    z-index:1;
    padding-right:165px;
}

#friends {
    position:absolute;
    overflow-y:scroll;
    top:0;
    right:0;
    width:165px;
    height:100%;
    z-index:2;
    padding:0;
    marging:0;
    line-height:0;
}

#friends::-webkit-scrollbar {
    width: 15px;
}

#friends::::-webkit-scrollbar-button {
    background: #ccc
}

#friends::::-webkit-scrollbar-track-piece {
    background: #888
}

#friends::::-webkit-scrollbar-thumb {
    background: #eee
}​

#friends img, #friends a {
    float:right;
    padding:0;
    margin:0;
}